@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
header{
    background:linear-gradient(108deg,aqua,lightblue)
}
body{
    background:linear-gradient(100deg,lightblue,aqua);
}

table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
#searched{
    max-height: 500px;
    padding-top:100px;
}
section{
    padding-top:0;
}
footer{
    background-color: black;
    min-width: 1000px;
    height: 280px;
}
.homePage{
    min-width:1020px;
    height: 650px;
    background-image: url('assets/baganimgbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top:0;
}
.homeText{
    font-family: 'Bungee Spice', cursive;
    font-size: 60px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    margin-top:0;
}

.servicePage{
    min-width: 1000px;
    min-height: 600px;
}
#contact{
    min-height: 500px;
}
#Feedbacks{
    min-width: 1000px;
    min-height: 500px;
}